.login-form-container {
  width: 100vw;
  padding: 10px;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.images-container {
  background-size: 468.32px 634.15px;
  height: 581px;
  background-repeat: no-repeat;
  margin-bottom: 12px;
  width: 520px;
  background-image: url("https://static.cdninstagram.com/images/instagram/xig/homepage/phones/home-phones-2x.png?__makehaste_cache_breaker=73SVAexZgBW");
}

.instagram-mobile-image {
  position: relative;
  height: 605px;
  width: 790px;
  right: 88px;
  bottom: 8px;
}

.login-form {
  border: 1px solid #b3b3b3;
  display: flex;
  flex-direction: column;
  height: 530px;
  width: 400px;
  padding: 20px;
}

.instagram-text-image {
  height: 280px;
  width: 280px;
  align-self: center;
}

.form-input {
  background-color: #f5f5f5;
  padding: 8px;
  border: 1px solid #999999;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 14px;
  outline: none;
  color: #000000;
  font-weight: 400;
}

.login-button {
  background-color: #33adff;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  margin-top: 20px;
  outline: none;
  border: none;
  height: 45px;
}

.error-msg {
  color: red;
  font-size: 10px;
}
